body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #000;
}

#options {
    max-width: 450px;
    margin: 0 auto;
    padding: 1.5em;
}

#content {
    background: url('white_scratch.png');
    max-width: 575px;
    margin: 0 auto;
    padding: 1.5em;
    margin-top: 30px;
}

img.logo{
    vertical-align: middle;
}

.heading{
    font-size: 30px;
    font-weight: bolder;
}

h3{
    margin: 0px 0px 0px 0px;
}

.option{
    margin: 0px 0px 10px 0px;
}

.option_item:before {
    content:'\00B6';
    font-size: 10px;
    vertical-align: 2px;
    margin-right: 4px;
    color: #777;
}

.options_group{
    background: rgba(215, 215, 215, 0.15);
    padding: 5px 20px;
    margin-bottom: 10px;
}

.instruction{
    font-size: 0.8em;
    color: #777;
    margin-bottom: 10px;
}

#import_now {
    background: none repeat scroll 0 0 #2A90BF;
    border: medium none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
    font-size: 0.8em;
    padding: 0.6em;
    text-transform: uppercase;
}

#quick_clip_key {
    width: 30px;
    border: 2px solid #999;
    text-align: center;
    margin-left: 10px;
    vertical-align: text-bottom;
    color: #666;
}

#quick_clip_key.active {
    border: 2px solid #99F;
}
