body {
	font-family: Helvetica, Arial, sans serif; margin: 0; padding: 0;
}

a { color: #548DCB; text-decoration: none; }
.hidden { opacity: 1; }
.visible { opacity: 0; }
.warning { display: block; color: red; font-size: 18px; }

#header {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 40px;
	padding: 5px;
	color: black;
	line-height: 40px;
	font-size: 24px;
	font-weight: lighter;
	background: white url('header_logo.png') no-repeat 5px; 50%;
}

#header h1 {
	position: relative;
	display: block;
	width: 300px;
	font-weight: 100;
	line-height: 40px;
	font-size: 24px;
	margin: 0px auto 0px auto;
}

.options {
	position: relative;
	margin: 60px auto;
	padding: 20px;
	width: 800px;
	border: 1px solid #DDD;
}

.optionsList {
	display: block;
	margin: auto;
	list-style: none;
}

.optionsList li { display: block; margin: 20px auto; }

.optionsList li div { margin: 10px auto; }

#loginframe {
	display: block;
	height: 100px;
	width: 100%;
	border: 0;
}

#lastImport { margin: 0; color: #aaa; font-size: 12px; }

#amazon_checking_login {
	display: inline-block;
	font-size: 12px;
	color: #555;
	margin-left: 10px;
	padding-left: 18px;
	background:  url('spinner_small.gif') no-repeat 0px 0px;
}

.import_now {
	color: #009bcf;
	margin-left: 10px;
	padding-left: 18px;
	background:  url('spinner_small.gif') no-repeat 0px 0px;
}

#login_msg {
	display: inline-block;
	margin-left: 10px;
	font-size: 10px;
	line-height: normal;
	transition: opacity 1s ease-out;
	-webkit-transition: opacity 1s ease-out;
}

#login_msg.working {
	background:  url('spinner_small.gif') no-repeat 0px 0px;
}


#amazon_import_options #amazon_logged_in select { display: inline-block; }
#amazon_logged_out { display: none; }
#devopt { display: none;}
#refresh_options { display: block; margin: 10px 0 0 0;}